*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI",sans-serif;
}

body{
  background:#f3f5fb;
}

/* Layout */
.layout{
  display:flex;
  min-height:100vh;
}

/* Sidebar */
.sidebar{
  width:210px;
background: linear-gradient(90deg, #0d47a1, #6d6891);
  color:#fff;
  padding:25px;
}

.sidebar h2{
  margin-bottom:30px;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  margin:16px 0;
}

.sidebar a{
  color:#fff;
  text-decoration:none;
  padding:10px;
  border-radius:8px;
  display:block;
}

.sidebar a.active,
.sidebar a:hover{
  background:rgba(255,255,255,0.25);
}

.logout-btn{
  margin-top:40px;
  display:block;
  text-align:center;
  padding:10px;
  background:#1e3a8a;
  border-radius:8px;
}

/* Main */
.container{
  flex:1;
  padding:30px;
}

/* Header */
.profile-header2{
  background:linear-gradient(90deg,#4f7fe9,#bdc8df);
  padding:22px;
  border-radius:18px;
  display:flex;
  align-items:center;
  color:whitesmoke;
}

.avatar{
  width:90px;
  height:90px;
  border-radius:50%;
  margin-right:20px;
  border:4px solid #fff;
}

.roll{
  opacity:0.9;
  font-size: 20px;
}

/* Attendance pill */
.attendance-pill{
  margin:25px 0;
  background:#eefdf4;
  color:#15803d;
  padding:12px 22px;
  border-radius:30px;
  font-weight:600;
  width:fit-content;
}
#result{
  width: 40%;
  border: black;
  border-radius: 5px;

}
/* Cards */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
  gap:20px;
  height: 200px;
}

/* Subject Card */
.subject-card{
  background:#fff;
  border-radius:16px;
  padding:18px;
  box-shadow:0 6px 15px rgba(0,0,0,0.08);
}

.subject-card h3{
  margin-bottom:6px;
}

.label{
  color:#777;
  font-size:14px;
}

.marks{
  font-size:32px;
  font-weight:700;
  margin:8px 0;
}

.progress{
height:8px;
background:#ddd;
border-radius:10px;
margin-top:8px;
overflow:hidden;
}

.progress div{
height:100%;
width:0;
background:#4CAF50;
border-radius:10px;
transition:0.5s;
}

.sub-att{
  font-size:14px;
  color:#555;
}

/* Colors */
.blue .progress div{background:#3b82f6;}
.yellow .progress div{background:#f59e0b;}
.pink .progress div{background:#ec4899;}
.teal .progress div{background:#14b8a6;}
.purple .progress div{background:#8b5cf6;}